services:
  portracker:
    image: mostafawahied/portracker:latest
    container_name: portracker
    platform: linux/arm64
    restart: unless-stopped
    pid: "host"
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - {{ .chezmoi.homeDir }}/docker/services/portracker/data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "4999:4999"
    environment:
      - PORT=4999
      - CORS_ORIGIN=*
      - ENABLE_AUTH=false
      - HOST_OVERRIDE=http://{{ .lan_ip }}:4999
